fieldset.error input,
.form-item.error input {
  border-color: red;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 121, 192, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(255, 121, 192, 0.25);
}

fieldset.error small,
.form-item.error .description {
  color: red !important;
}
