<span class="guest-buttons-drop-out">
  <a href="#" type="button" role="button" class="guest-actions-toggle"><strong>...</strong></a>
  <div class="btn-group guest-actions" role="group">
    <a class="btn btn-outline-danger"
       type="button"
       href="/admin/levchik/guest/{{ id }}/delete">{{ "Delete guest"|t }}</a>
    <a class="btn btn-outline-warning"
       type="button"
       href="/admin/levchik/guest/{{ id }}/edit">{{ "Edit guest"|t }}</a>
  </div>
</span>
